<%= form_for @image, :html => { :multipart => true }  do |f| %>
    <%= render "layouts/errors", :errors => @image.errors %>

  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit t(:submit) %>
  </div>
<% end %>
