<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @product.barcode %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Lead time:</strong>
  <%= @product.lead_time %>
</p>

<p>
  <strong>Company:</strong>
  <%= @product.company_id %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @product.tax_id %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product.discount_id %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Stock active:</strong>
  <%= @product.stock_active %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<%= link_to t(:edit), edit_product_path(@product) %> |
<%= link_to t(:back), products_path %>
