<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @order.company_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order.client_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @order.tax_id %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @order.tax %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order.discount_id %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order.discount %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @order.payment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @order.observations %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @order.expiration %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Tariff code:</strong>
  <%= @order.tariff_code %>
</p>

<p>
  <strong>Gross load:</strong>
  <%= @order.gross_load %>
</p>

<p>
  <strong>Net load:</strong>
  <%= @order.net_load %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @order.receiver %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @order.sender %>
</p>

<p>
  <strong>Has invoice:</strong>
  <%= @order.has_invoice %>
</p>

<p>
  <strong>Has forecast:</strong>
  <%= @order.has_forecast %>
</p>

<p>
  <strong>Has order:</strong>
  <%= @order.has_order %>
</p>

<p>
  <strong>Has delivery:</strong>
  <%= @order.has_delivery %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @order.invoice_id %>
</p>

<p>
  <strong>Forecast:</strong>
  <%= @order.forecast_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order.order_id %>
</p>

<p>
  <strong>Deliverynote:</strong>
  <%= @order.deliverynote_id %>
</p>

<%= link_to t(:edit), edit_order_path(@order) %> |
<%= link_to t(:back), orders_path %>
