<h1>Listing taxes</h1>

<table>
  <thead>
    <tr>
      <th>Tax</th>
      <th>Description</th>
      <th>Company</th>
      <th>Default</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taxes.each do |tax| %>
      <tr>
        <td><%= tax.tax %></td>
        <td><%= tax.description %></td>
        <td><%= tax.company_id %></td>
        <td><%= tax.default %></td>
        <td><%= link_to t(:show), tax %></td>
        <td><%= link_to t(:edit), edit_tax_path(tax) %></td>
        <td><%= link_to t(:destroy), tax, method: :delete, data: { confirm: t(:confirm) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tax', new_tax_path %>
